button {
    display: inline-block;
    font-family: 'Inter Tight', sans-serif !important;
    padding: 10px 20px;
    font-size: 16px;
    color: var(--on-secondary);
    background-color: var(--primary);
    border: none;
    border-radius: 50px !important;
    box-shadow: 0 10px 20px var(--on-tertiary)(0, 0, 0, 0.3)!important;
    position: relative;
    overflow: hidden;
  }
  
  button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    opacity: 0;
  }
  
  button:hover::before {
    width: 200%;
    height: 200%;
    opacity: 1;
    transition: all 0.5s ease-in-out;
  }