/* Just a reminder to see what fonts we've used from Google Fonts */

/* font-family: 'Fraunces', serif;
font-family: 'Inter Tight', sans-serif;
font-family: 'Piazzolla', serif;
font-family: 'Sofia Sans Semi Condensed', sans-serif;
font-family: 'Tinos', serif; */


/* Our colour scheme so we can easily adjust to different styles if needed */

:root {
    --primary: #2ec7a1;
    --secondary: #8e7656;
    --tertiary: #c2b9ad;
    --on-primary: #fafafa;
    --on-secondary: #000504;
    --on-tertiary: #f47018;
}

/* This styling is for the Welcome Page */

.welcome-message {
    margin: 50px;
}

.image-container {
    display: flex;
    align-items: center;
}

#logo {
    height: 250px;
    margin-right: 20px;
    margin-bottom: 20px;
}

/* Button styling for Welcome page */

#home-button {
    display: inline-block;
    font-family: 'Inter Tight', sans-serif;
    margin: 60px 20px 0px 0px !important;
    font-weight: 400;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: var(--primary);
    border: none;
    border-radius: 50px;
    box-shadow: 0 10px 20px rgba(223, 136, 6, 0.2);
    position: relative;
    overflow: hidden;

}

/* Hover Effect */

#home-button:hover,
#home-button:focus {
    box-shadow: inset 0 0 0 2em var(--on-tertiary);

}

/* General styling for all headers & buttons across the app*/

h1 {
    font-family: 'Fraunces', serif;
    font-weight: 800 !important;
    color: #000504;
}

h3 {
    font-family: 'Fraunces', serif;
    font-size: 20pt !important;
    margin-bottom: 40px !important;
}

button {
    display: inline-block;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 400;
    margin-top: 10px !important;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: var(--primary);
    border: none;
    border-radius: 50px !important;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);

}

h2 {
    font-family: 'Fraunces', serif !important;
    font-size: medium;
}


.uk-input {
    width: 100%;
    max-width: 100%;
}

label {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 500;
}


input {
    max-width: flex;
    border-radius: 5px !important;
}

/* Styles of the job search*/

#search-input-field {
    margin-right: 20px !important;
}

.job-search-box{
    padding: 50px;
}

/* Styles of the resume preview container */

#newResumeContainer {
    border: solid 1px rgb(21, 21, 21);
    border-radius: 10px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    width: 60%;
    height: auto;
    margin-bottom: 10vh;
}

/* Navbar Styling */

#nav-text {
    text-decoration: none;
    position: relative;
}


#nav-text::before {
    transition: 500ms;
    height: 5px;
    content: "";
    position: absolute;
    margin: -10px;
    background-color: var(--on-tertiary);
}


#nav-text::before {
    width: 90%;
    bottom: 10px;
    margin: 0px 5px 0px 0px;
    opacity: 0;
    display: inline-block;
    position: absolute;
}

#nav-text:hover::before {
    bottom: 10px;
    opacity: 0.5;
}

#nav-text:active {
    animation: shake 0.3s;
}

@keyframes shake {
    0% {
        transform: translate(0, 0);
    }

    10%,
    90% {
        transform: translate(-1px, 0);
    }

    20%,
    80% {
        transform: translate(2px, 0);
    }

    30%,
    50%,
    70% {
        transform: translate(-4px, 0);
    }

    40%,
    60% {
        transform: translate(4px, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

/* This isn't working 'sad-face'

  #nav-text:hover {
    opacity: 1;
    cursor: url('./cat-emoji.png'), auto; 
  } 
  
  */



/* Job Application History Page Styles */

#job-history-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 100px;
    border-radius: 10px;
    width: 100%;
    height: auto;
    margin-bottom: 10vh;
}

#job-history-container.text{
   color: #f47018;
}

label{
    margin: 0px 20px 20px 0px;
    font-family: 'Inter Tight', sans-serif;
    font-size: larger;
}

input{
    margin-left: 10px !important;
    font-family: 'Inter Tight', sans-serif;

}

/* Footer Styling */

.footer-links {
    font-family: 'Fraunces', serif;
    background-color: var(--primary);
    padding: 30px;
    font-weight: 200;
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none !important;
}

#footer-link {
    text-decoration: none !important;
    color: black;
    margin: 10px;
}

#footer-link:hover {
    text-decoration: none !important;
    text-decoration: dotted;
}