.jobhistory-card {
    padding: 30px;
    background-color: blueviolet;
    margin: 30px;
    border-radius: 10px;
}

#delete-button {
    background-color: rgb(168, 226, 43);
    border-radius: 10px;

}

#delete-button :hover {
    background-color: rgb(43, 226, 98);
    border-radius: 10px;

}