/* Define the grid container */
.jobhistory-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* 3 columns */
  gap: 20px;
  /* Add some spacing between the cards */
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
  .jobhistory-grid {
    grid-template-columns: repeat(2, 1fr);
    /* 2 columns */
    gap: 10px;
    /* Reduce spacing between the cards */
  }
}

/* Media query for screens smaller than 480px */
@media (max-width: 480px) {
  .jobhistory-grid {
    grid-template-columns: 1fr;
    /* 1 column */
    gap: 10px;
    /* Reduce spacing between the cards */
  }
}

/* Style the card elements */
.jobhistory-card {
  padding: 40px;
  margin-top: 30px;
  background-color: var(--primary);
  border-radius: 10px;
  height: 400px;
  /* Set a fixed height for all cards */
  width: 100%
    /* Subtract the gap width from each column */
}


/* Style for modal container */
.modal-container {
  font-family: 'Fraunces', serif !important;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color:rgba(0, 0, 0, 0.4);

  
}

.modal-content {
  font-family: 'Fraunces', serif !important;
  font-size: x-large !important;
  padding: 10px 60px 60px 60px !important;
  background-color: var(--on-tertiary) !important;
  border-radius: 30px !important;
  width: 50% !important;
  max-width: 600px !important;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close {
  cursor: pointer;
  align-self: flex-end;
  background-color: var(--primary);
  border-radius: 30px;
  align-items: center;
  width: 35px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.modal-content img {
  margin: 10px;
}