:root {
  --primary: #2ec7a1;
  --secondary: #8e7656;
  --tertiary: #c2b9ad;
  --on-primary: #fafafa;
  --on-secondary: #000504;
  --on-tertiary: #f47018;
}


/* Style of the whole page with the resume form and preview */
#resumePageContainer {
  display: flex;
  width: auto;
  margin-top: 5vh;
  justify-content: space-around;
}

/* Style of the resume form */
#resumeForm {
  border: solid 1px rgb(21, 21, 21);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  background-color: var(--on-primary);
  border-radius: 10px;
  width: 30%;
  height: auto;
  margin-bottom: 10vh;
}

/* Styles of the resume preview container */
#newResumeContainer {
  border: solid 1px var(--on-tertiary);
  border-radius: 10px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--on-primary);
  width: 60%;
  height: auto;
  margin-bottom: 10vh;
}

/* Styles of the resume */
#newResume {
  border: solid 1px var(--on-primary);
  border-radius: 10px;
  justify-content: center;
  padding: 2vh;
  height: fit-content;
  width: 100%;
  margin-top: 3vh;
}

/* Styles of the resume header */
#resumeHeader {
  border-color: var(--tertiary);
  padding: 2vh;
  color: var(--primary);
  border-radius: 10px;
}

#resumeHeader h2 {
  font-family: 'Fraunces', serif;
  font-weight: 800;
  margin: 2vh;
}

#resumeHeader p {
  margin: 2vh;
}



/* Media queries for phone screen */
@media screen and (max-width: 480px) {

  /* Style of the whole page with the resume form and preview */
  #resumePageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0%;
    margin: 10px;
    width: 220px;
  }

  /* Style of the resume form */
  #resumeForm {
    width: 350px;
    margin-bottom: 5px !important;
    padding: 0px;
  }


  /* Styles of the resume preview container */
  #newResumeContainer {
    width: 350px !important;
    margin: 0px !important;
    margin-bottom: 2vh !important;
  }
}