.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#resumePageContainer {
  display: flex;
  gap: 5vh;
  margin-left: 10vh;
  margin-right: 10vh;
  margin-top: 5vh;
  justify-content: space-around;
}

#resumeForm {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  border: solid 2px red;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  width: 50%;
  height: auto;
  margin-bottom: 10vh;
}

#newResumeContainer {
  border: solid 2px red;
  border-radius: 10px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  width: 50%;
  height: auto;
  margin-bottom: 10vh;
}

#newResume {
  justify-content: center;
  padding: 1vh;
  height: fit-content;
  width: 100%;
}