/* font-family: 'Fraunces', serif;
font-family: 'Inter Tight', sans-serif;
font-family: 'Piazzolla', serif;
font-family: 'Sofia Sans Semi Condensed', sans-serif;
font-family: 'Tinos', serif; */

:root {
  --primary: #2ec7a1;
  --secondary: #8e7656;
  --tertiary: #c2b9ad;
  --on-primary: #fafafa;
  --on-secondary: #000504;
  --on-tertiary: #f47018;
}


body {
  margin: 0;
  font-family: 'Inter Tight', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#main-container {

  display: flex;
  flex-direction: column;

}

#headingAndText {

  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 20vh;
  padding-right: 20vh;
}

#buttons-container {

  display: flex;
  margin-bottom: 10vh;
  justify-content: center;
  margin-top: -100px;
}

/* Media queries for medium screen size */
@media screen and (max-width: 800px) {

  #main-container {
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
  }

  #headingAndText {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    gap: 20px;
    padding: 0px;
  }

  #logo {
    margin: 0px !important;
  }

  #welcome-text {
    margin-top: 6vh;
    margin-bottom: 12vh;
  }

  #buttons-container {
    display: flex !important;
    flex-direction: column !important;
    margin-bottom: 6vh !important;
  }
}

/* Media queries for phone screen */
@media screen and (max-width: 480px) {

  /* Style of the whole page with the resume form and preview */
  #main-container {
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
  }

  #headingAndText {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    gap: 20px;
    padding: 0px;
  }

  #logo {
    margin: 0px !important;
  }

  #welcome-text {
    margin-top: 6vh;
    margin-bottom: 12vh;
  }

  #buttons-container {
    display: flex !important;
    flex-direction: column !important;
    margin-bottom: 6vh !important;
  }
}