/* font-family: 'Fraunces', serif;
font-family: 'Inter Tight', sans-serif;
font-family: 'Piazzolla', serif;
font-family: 'Sofia Sans Semi Condensed', sans-serif;
font-family: 'Tinos', serif; */

:root {
  --primary: #2ec7a1;
  --secondary: #8e7656;
  --tertiary: #c2b9ad;
  --on-primary: #fafafa;
  --on-secondary: #000504;
  --on-tertiary: #f47018;
}




body {
  margin: 0;
  font-family: 'Inter Tight', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

